<style>
    .link {
        text-decoration: none;
    }
</style>

<div class="card mt-4">
    <div class="card-body">
        <a href="/admin/postagens" class="link">
            <h4>Posts</h4>
        </a>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <a href="/admin/categorias" class="link">
            <h4>Categorias</h4>
        </a>
    </div>
</div>
